<div class="container">
  <p class="display-3 text-center mt-5">Login</p>
  <form class="w-50 m-auto" [formGroup]="loginForm">
    <mat-form-field class="w-100" appearance="standard">
      <mat-label>Email</mat-label>
      <input [(ngModel)]="form.email" formControlName="email" matInput placeholder="Enter your email" />
      <mat-icon matSuffix>mail</mat-icon>
      <mat-hint *ngIf="email?.invalid && (email?.dirty || email?.touched) && email?.errors?.['required']"
                class="text-danger">Please enter your email</mat-hint>
      <mat-hint *ngIf="email?.invalid && (email?.dirty || email?.touched) && email?.errors?.['email']"
                class="text-danger">Please enter a correct email</mat-hint>

    </mat-form-field>
    <mat-form-field class="w-100 mt-4" appearance="standard">
      <mat-label>Password</mat-label>
      <input [(ngModel)]="form.password" formControlName="password" matInput placeholder="Enter your password" />
      <mat-icon matSuffix>lock</mat-icon>
      <mat-hint *ngIf="password?.invalid && (password?.dirty || password?.touched) && password?.errors?.['required']"
                class="text-danger">Please enter your password</mat-hint>
    </mat-form-field>
    <div class="text-end mt-2">
      Not have account?
      <a routerLink="/register">Register!</a>
    </div>
    <div class="mt-5 text-end">
      <button [disabled]="loginForm.invalid" type="button" (click)="handleSubmit()" mat-raised-button color="primary">Login</button>
    </div>
  </form>
</div>
