<mat-list *ngIf="memberService.members.length > 0">
  <div class="pb-0" mat-subheader>Members</div>
  <mat-list-item *ngFor="let member of memberService.members">
    <div class="w-100 d-flex align-items-center justify-content-between">
      <div class="d-flex align-items-center">
        <mat-icon class="me-2" mat-list-icon>account_circle</mat-icon>
        <div class="me-auto">
          <div mat-line>{{member.username}}</div>
          <div *ngIf="member.isCreator" mat-line>
            <span class="badge bg-success">Creator</span>
          </div>
          <div *ngIf="!member.isCreator && member.isAdmin" mat-line>
            <span class="badge bg-primary">Admin</span>
          </div>
        </div>
      </div>
      <mat-icon
        class="text-danger"
        *ngIf="!member.isCreator && memberService.currentChannel?.admins?.includes(authService.getUserId())"
        role="button">person_remove</mat-icon>
    </div>
  </mat-list-item>
</mat-list>
