<div class="chat-tool d-flex flex-column">
  <div class="w-100 toolbar d-flex">
    <mat-icon matTooltip="Send image" role="button" class="me-2" style="font-size: 30px">image</mat-icon>
    <mat-icon matTooltip="Send video" role="button" class="me2" style="font-size: 30px">videocam</mat-icon>
  </div>
  <form class="w-100 p-2 " >
    <mat-form-field class="example-full-width w-100" appearance="fill">
      <mat-label>Enter message</mat-label>
      <textarea rows="7" style="max-height: 100%" matInput placeholder="Enter message here..."></textarea>
    </mat-form-field>
    <div class="text-end w-100">
      <button mat-raised-button color="primary">Send</button>
    </div>
  </form>
</div>
